h1, h2, h3, h4, h5, h6, p, span, small, nav, ol{
    font-family: 'Quicksand', sans-serif;
}
.firstNav{
    background-color: black;
    color: white;
}
.mainPic{
    min-height: 600px;
    background-image: url("img/5fruit.jpeg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}
.mainpics{
    min-height: 600px;
    min-width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}
.maintext{
    z-index: 100;
    color: white;
    font-size: 5rem;
    font-weight: 900;
    margin-top: 30px;
}
.btnss{
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 31, 48);
    z-index: 500;
    min-height: 50px;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: 600;
    min-width: 100px;
    margin-top: 60px;
}
.btnss:hover{
    background-color: rgb(39, 39, 187);
}
.btnss:focus{
    background-color: rgb(11, 11, 78);
}
.quick{
    min-height: 20px;
    margin-bottom: 20px;
}
.qAbout{
    margin-bottom: 60px;
    min-height: 250px;
}
.addAbout{
    min-height: 10px;
}
.addAbouts{
    min-height: 10px;
    margin-bottom: 60px;
}
.h3{
    min-width:100%;
    min-height: 200px;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 5px;
}
.iconss{
    margin-top: 30px;
}
.regs{
    min-height: 300px;
    margin-bottom: 20px;
}
.regs .imgs{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px grey;
    border-radius: 5px;
}
.vids{
    margin-bottom: 20px;
    min-height: 500px;
}
.testi{
    min-height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.testImg{
    border-radius: 50%;

}
.breadcrumbs{
    margin-bottom: 40px;
    text-decoration: none;
    outline: none;
    border: none;
}
.abtH{
    margin-bottom: 20px;
    margin-top: 60px;
}
.abt{
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 10px;
    font-size: 1rem;
}
.blogged{
    min-height: 200px;
    margin-bottom: 40px;
}
.blogged:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 2px gray;
    z-index: 20;
    border-radius: 10px;
}
.memb{
    min-height: 10px;
    margin-bottom: 20px;
}
.products{
    min-height: 500px;
}
.prods{
    min-height: 10px;
}
img{
    box-shadow: 0px 3px 3px grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 31, 48);
    min-height: 50px;
    padding: 10px;
    font-size: 1.5rem;
    min-width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button:hover{
    background-color: rgb(39, 39, 187);
}
.button:focus{
    background-color: rgb(11, 11, 78);
}
.card-img-top{
    height: 300px;
    justify-content: center;
}
.blogImg{
    height: 500px;
    justify-content: center;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0px 2px 2px 2px rgb(185, 177, 177);
}
 /* Product snippet design */

.proDetail{
    margin-top: 10px;
    width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow:0px 5px 10px rgb(196, 187, 186);
}
 .proImg{
    margin-top: 10px;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    box-shadow:0px 5px 10px rgb(196, 187, 186);
}
.proImg{
    transition: all 1.0s ease;
}
.proImg{
    overflow: hidden;
}
.proImg:hover{
    transform: scale(1.2);
}
.detailss{
    min-height: 100px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.pros{
    text-align: center;
    margin-top: 10px;
}
.prodbtnn{
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 31, 48);
    font-size: 1.2rem;
    min-width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.prodbtnn:hover{
    background-color: rgb(36, 36, 133);
}
.prodbtnn:focus{
    background-color: rgb(62, 62, 202);
}
.cartsAdd{
    background-color: black;
    color:white;  
    box-shadow: 0px 5px 10px #212121;  
    margin-top:20px; 
    margin-bottom: 20px;
}
.cartsAdd:hover{
    color: white;
    box-shadow: 0px 5px 10px rgb(102, 126, 207);
    border: none;
}
.cartsAdd:focus{
    box-shadow: 0px 10px 10px #1b2e61;
    color: white;
    border: none;
    background-color: rgb(46, 46, 71);
}
.notes{
    background-color:  rgb(14, 9, 14);
    color: rgb(14, 9, 14);
    height: 35px;
    margin-top: 0px;
 /* end of product design */
}
.cartADDS{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px rgb(151, 147, 147);
    width: 100%;
    color: white;
    background-color: rgb(49, 39, 110);
}
.cartADDS:hover{
    box-shadow: 0px 3px 3px 3px rgb(84, 84, 124);
    background-color: rgb(29, 29, 172);
}
.cartADDS:focus{
    box-shadow: 0px 3px 3px 3px rgb(31, 31, 70);
    background-color: rgb(62, 62, 243);
    outline: none;
    text-decoration: none;
    border: none;
}

/* CSS for cart button */


.subss{
    margin-top: 20px;
    border-radius: 4px;
    background-color: #462e9b;
    line-height: normal;
    padding: 6px 20px;
    min-height: 40px;
    min-width: 150px;
    color: black;
    letter-spacing: 4px;
}
.subss:hover{
    background-color: #2d0e68;
    color: white;
    box-shadow: 0 0 10px #436cf5;
} 
.subss:focus{
    background-color: #010385;
    color: white;
    outline: none;
}


.breadcrumbs{
    color: black;
    margin: 0px;
}
.breadcrumbs:hover{
    color: #2345db;
}
.alog{
    color: white;
    border: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.alog:hover{
    color: white;
    box-shadow: 0px 2px, 2px, rgb(126, 126, 209);
}
/* End of CSS for cart button */




/* ADMIN PAGE CSS */

.adDivs{
    min-height: 100px;
    margin-bottom: 20px;
}
.advivs{
    background-color: rgb(41,48,66);
}
.admdivs{
    min-height: 30px;
    color: white;
}
.admDivs{
    min-height: 100px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 5px rgb(167, 164, 164);
}
.adminA{
    outline: none;
    text-decoration: none;
    border: none;
    color: white;
}
.adminbtn{
    color: rgb(163, 176, 189);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 2rem;
    background-color:rgb(41,48,66);
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: none;
}
.adminbtn:hover{
    color: white;
}




/* END OF ADMIN PAGE CSS */







/* footer */

.foot{
    background-color: black;
    margin-top: 40px;
    color: white;
}
footer{
    background-color: black;
}


/* Admin CSS */
